.home-card-config {
  font-family: var(--font-georama);
  font-weight: 500;
}

.person-card-home {
    background-image: linear-gradient(
      to bottom right, 
      var(--color-pink-dark), 
      var(--color-pink-primary),
      var(--color-pink-light) 
    );

    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    color: var(--color-white); 
    border: none;
    cursor: pointer;
}

.organization-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.organization-card img {
  width: 200px;
  height: 200px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.home-card-name {
  font-family: var(--font-alumni);
  font-size: 42px;
  font-weight: 500;
}

.home-card-course {
  font-size: 14px;
  font-weight: 600;
}

.home-card-position {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.home-card-description {
  margin: 10px 0;
  text-align: justify;
  font-size: 12px;
}

.home-card-star {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  color: var(--color-yellow-light);
}

.home-card-star svg {
  width: 20px;
  height: 20px;
}

.home-card-config span {
  font-weight: 600;
}


@media (max-width: 1400px) {
  .organization-card img {
    width: 160px;
    height: 160px;
  }

  .home-card-name {
    font-size: 30px;
  }

  .card-bottom {
    margin-top: 10px;
  }
  
}