.person-card-profile * {
  font-family: var(--font-lexend);
}

.person-card-profile {
  background-image: linear-gradient(to bottom right,
            var(--color-pink-dark),
            var(--color-pink-primary),
            var(--color-pink-light));

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  min-height: 500px;
  gap: 30px;

  transition: .3s ease-in-out;
  justify-content: space-between;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.person-label {
  font-size: 15px;
}

.person-text {
  font-size: 14px;
  margin-top: 15px;
  text-align: justify;
}

.person-textarea {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  margin-top: 15px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid var(--color-white);
  resize: none;
  text-align: justify;
  outline: none;
  background: #0000001e;
  color: var(--color-white);
  overflow: hidden;
}

.edit-button {
  display: flex;
  justify-content: flex-end;
}

.edit-button button {
  padding: 10px 40px;
  border-radius: 5px;
  border: 2px solid var(--color-white);
  color: var(--color-pink-primary);
  transition: .3s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.edit-button button:hover {
  color: var(--color-white);
  background: none;
}

.info-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-icons span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-icons span:first-of-type {
  color: var(--color-yellow-light);
}


.info-icons span svg {
  font-size: 20px;
}


@media (max-width: 1400px) {
  .person-card-profile {
    min-width: 240px;
    min-height: 460px;
  }

  .person-textarea {
    height: 205px;
  }
}