.modal-content * {
  font-family: var(--font-lexend);
}

.form-modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-modal-content label {
  font-weight: 500;
}

.form-modal-content select {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid var(--color-border-input);
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  outline: none;
  color: var(--gray-emphasis);
}

.form-modal-content select:focus,
.form-modal-content select option {
  color: var(--color-black);
}

.form-modal-content input[type="submit"],
.form-modal-content input[type="reset"] {
  padding: 10px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.button-group input {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid var(--color-pink-primary);
  transition: .3s ease-in-out;
  border-radius: 3px;
}

.button-group input[type="submit"] {
  background: var(--color-pink-primary);
  color: var(--color-white);
}

.button-group input[type="submit"]:hover {
  background: var(--color-white);
  color: var(--color-pink-primary);
}

.button-group input[type="reset"] {
  background: var(--color-pink-white);
  color: var(--color-pink-primary);
}

.button-group input[type="reset"]:hover {
  background: var(--color-pink-primary);
  color: var(--color-white);
}