.diversity-form { 
    height: 100%;
    border-radius: 5px;
    font-family: var(--font-lexend);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
}

.diversity-form-not-owner {
    padding-bottom: 0 !important;
}

.form-diversity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.diversity-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diversity-form  h1 {
    font-size: 18px;
    padding: 0 30px 30px 0;
    font-weight: 500;
    color: var(--color-black);
}

.diversity-info div {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    gap: 10px;
}

.diversity-info  .optional {
    color: var(--color-yellow-dark);
    font-weight: 400;
    font-size: 14px;
}

.diversity-info div select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid var(--color-border-input);
    border-radius: 5px;
    outline: none;
    color: var(--gray-teste);
    background-color: var(--color-gray-light);
    cursor: pointer;
    font-family: var(--font-lexend);
}

.diversity-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.diversity-button button {
    font-size: 14px;
    font-family: var(--font-lexend);
    border-radius: 5px;
    padding: 8px 45px;
    border: 2px solid var(--color-pink-primary);
    background-color: var(--color-pink-primary);
    color: var(--color-white);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.diversity-button button:hover {
    background-color: var(--color-white);
    color: var(--color-pink-primary);
}