.person-profile-content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 30px;
  gap: 30px;
  align-items: start;
  padding-bottom: 30px;
}

.about-content,
.person-profile-content {
  padding: 0 90px;
  padding-bottom: 30px;
}

.page-wrapper {
  height: 559px;
}

@media (max-width: 1800px) {
  .about-content,
  .person-profile-content {
    padding: 0;
    padding-bottom: 30px;
  }
  
}

@media (max-width: 1600px) {
  .about-content,
  .person-profile-content {
    padding: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 1400px) {
  .about-content,
  .person-profile-content {
    padding: 0;
    padding-bottom: 30px;
  }

  .page-wrapper {
    height: 545px;
  }
}