.footer {
  margin-top: 60px;
}

.footer-top {
  padding: 45px;
  background-color: var(--color-pink-extra-dark);
}

.footer-top img {
  max-width: 150px;
  padding: 0 110px;
}

.footer-content {
  background-color: var(--color-pink-primary);
  padding: 30px 0 20px 0;
  font-family: var(--font-georama);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-content hr {
  border: 1px solid var(--color-white);
  width: 80%;
}

.footer-content a {
  color: var(--color-white);
  text-decoration: none;
  transition: .3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
}

.footer-content a:hover {
  color: var( --color-yellow-light);
}

.list-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.list-column {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.list-column h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  cursor: pointer;
}

.list-column svg {
  display: none;
}

.list-column li {
  margin-bottom: 20px;
  list-style: none;
}

.list-column a {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-mid {
  padding: 20px 0;
  font-family: var(--font-georama);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-mid p {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.footer-mid img {
  width: 225px;
}

.footer-bottom {
  padding: 20px 0;
  width: 80%;
  font-family: var(--font-georama);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
}

.footer-bottom a {
  text-decoration: underline;
  font-weight: 600;
}

.footer-bottom svg {
  color: var(--color-white);
  font-size: 30px;
  margin: 0 10px -5px 10px;
}

@media screen and (max-width: 768px) {
  .footer-top {
    padding: 30px;
  }

  .footer-top img {
    margin-left: -100px;
  }

  .footer-content {
    padding: 20px 0 15px 0;
    gap: 15px;
  }

  .footer-content hr {
    width: 90%;
  }

  .list-container {
    flex-direction: column;
    padding: 20px;
    width: 90%;
  }

  .list-column h3{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .list-column ul {
    list-style: none;
    display: none;
  }
  
  .list-column ul.active {
    display: block;
    background-color: var(--color-pink-dark);
    padding: 20px 10px 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
  }

  .list-column li {
    margin-left: 20px;
  }

  .list-column svg {
    display: block;
  }

  .footer-mid p {
    padding: 5px;
  }

  .footer-mid img {
    width: 180px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-bottom p {
    margin-bottom: 20px;
  }
}