.container {
  padding: 0 140px;
  min-height: 100vh
}

@media (max-width: 1800px) {
  .container {
    padding: 0 90px;
  }
}

@media (max-width: 1600px) {
  .container {
    padding: 0 90px;
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 0 90px;
  }
}